{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/notification.css' %}" />
  </head>
  <body>
    <div>
      <span class="bar">
        <a href="/"><img class="back" src="{% static 'images/back.png' %}" alt="back" /></a>
        <p class="notification">Notification</p>
      </span>
      <div class="disgird">
        <a href="#">
            <img class="profile" src="{% static 'images/profile.png' %}" alt="profile" />
        <p class="notimessage">
          What is the difference between a blog and an article?
        </p>
        </a>
        <a href="#"><img class="profile2" src="{% static 'images/profile.png' %}" alt="profile" />
            <p class="notimessage2">
              What is the difference between a blog and an article?
            </p></a>
      </div>
    </div>
  </body>
</html>
