{% extends 'main.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}


{% block title %}
Social - Page
{% endblock title %}

{% block content %}
<div class="container">
  <img class="user" src="{% static 'images/profile.png' %}" alt="user" />
  <p class="postname">ABISHEK</p>
  <p class="fellow">fellow</p>
  <!-- <p class="postedtime">1 day Ago</p> -->
  <img class="post" src="{% static 'images/post.png' %}" alt="post" />
  <div>
    <img class="bloguser" src="{% static 'images/profile.png' %}" alt="user" />
    <p class="blogpostname">ABISHEK</p>
    <p class="blog">
      What is the difference between a blog and an article?
    </p>
    <!-- <p class="postedtime">1 day Ago</p> -->
    <p class="article">
      Article : Articles are written in a most formal way and it is based
      on sophisticated writing. Generally articles are more than 300 words
      and sometimes more than 1000 words. It is based on interview,
      research, explanation, analysis or report and fact based. It is
      based on professional and scholarly tone. It goes through editor or
      reviewer teams verification.Article : Articles are written in a most
      formal way and it is based on sophisticated writing. Generally
      articles are more than 300 words and sometimes more than 1000 words.
      It is based on interview, research, explanation, analysis or report
      and fact based. It is based on professional and scholarly tone. It
      goes through editor or reviewer teams verification.Article :
      Articles are written in a most formal way and it is based on
      sophisticated writing. Generally articles are more than 300 words
      and sometimes more than 1000 words. It is based on interview,
      research, explanation, analysis or report and fact based. It is
      based on professional and scholarly tone. It goes through editor or
      reviewer teams verification.Article : Articles are written in a most
      formal way and it is based on sophisticated writing. Generally
      articles are more than 300 words and sometimes more than 1000 words.
      It is based on interview, research, explanation, analysis or report
      and fact based. It is based on professional and scholarly tone. It
      goes through editor or reviewer teams verification.Article :
      Articles are written in a most formal way and it is based on
      sophisticated writing. Generally articles are more than 300 words
      and sometimes more than 1000 words. It is based on interview,
      research, explanation, analysis or report and fact based. It is
      based on professional and scholarly tone. It goes through editor or
      reviewer teams verification.Article : Articles are written in a most
      formal way and it is based on sophisticated writing. Generally
      articles are more than 300 words and sometimes more than 1000 words.
      It is based on interview, research, explanation, analysis or report
      and fact based. It is based on professional and scholarly tone. It
      goes through editor or reviewer teams verification.Article :
      Articles are written in a most formal way and it is based on
      sophisticated writing. Generally articles are more than 300 words
      and sometimes more than 1000 words. It is based on interview,
      research, explanation, analysis or report and fact based. It is
      based on professional and scholarly tone. It goes through editor or
      reviewer teams verification.
    </p>
  </div>
</div>
{% endblock content %}